---
layout: default
---
<div class="container">
  <article class="post">
    <div class="post__head" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
      <h1 class="post__title">{{ page.title | escape }}</h1>
      <div class="post__date">
        <time datetime="{{ page.date | date_to_xmlschema }}">Published {{page.date | date: '%b %d, %Y'}}</time>
      </div>

      {% if page.image %}
        <div class="post-image img-blur" style="background-image: url({{site.baseurl}}{{page.image}})"></div>
      {% endif %}
    </div>

    <div class="post-lang">
      {% assign posts=site.posts | where:"ref", page.ref %}
      {% for post in posts %}
        {% if page.lang != post.lang %}
          <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
        {% endif %}
      {% endfor %}
    </div>

    <div class="post__content" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-delay="100" data-aos-duration="700">
      {{ content }}
    </div>

    {% if page.tags.size >= 1 %}
      <div class="post-tags">
        {% for tag in page.tags %}
          <a href="{{ site.baseurl }}/tag/{{ tag }}" class="post-tags__tag">{{ tag }}</a>
        {% endfor %}
      </div>
    {% endif %}

    <div class="post__share">
      <ul class="share__list list-reset">
        <li class="share__item">
          <a class="share__link share__facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on Facebook" rel="nofollow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img">
              <path data-name="layer1" d="M39.8 12.2H48V0h-9.7C26.6.5 24.2 7.1 24 14v6.1h-8V32h8v32h12V32h9.9l1.9-11.9H36v-3.7a3.962 3.962 0 0 1 3.8-4.2z" fill="#898989"></path></svg>
            </a>
        </li>

        <li class="share__item">
          <a class="share__link share__twitter" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on Twitter" rel="nofollow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img">
              <path data-name="layer1" d="M64 13.194a23.1 23.1 0 0 1-7.3 2.1 14.119 14.119 0 0 0 5.5-7.2c-1.9 1.2-6.1 2.9-8.2 2.9a13.782 13.782 0 0 0-9.6-4 13.187 13.187 0 0 0-13.2 13.2 13.576 13.576 0 0 0 .3 2.9c-9.9-.3-21.5-5.2-28-13.7a13.206 13.206 0 0 0 4 17.4c-1.5.2-4.4-.1-5.7-1.4-.1 4.6 2.1 10.7 10.2 12.9-1.6.8-4.3.6-5.5.4.4 3.9 5.9 9 11.8 9-2.1 2.4-9.3 6.9-18.3 5.5a39.825 39.825 0 0 0 20.7 5.8 36.8 36.8 0 0 0 37-38.6v-.5a22.861 22.861 0 0 0 6.3-6.7z" fill="#898989"></path></svg>
            </a>
        </li>

        <li class="share__item">
          <a class="share__link share__linkedin" href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
             onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" title="Share on Linkedin" rel="nofollow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img">
              <path data-name="layer1" d="M1.15 21.7h13V61h-13zm46.55-1.3c-5.7 0-9.1 2.1-12.7 6.7v-5.4H22V61h13.1V39.7c0-4.5 2.3-8.9 7.5-8.9s8.3 4.4 8.3 8.8V61H64V38.7c0-15.5-10.5-18.3-16.3-18.3zM7.7 2.6C3.4 2.6 0 5.7 0 9.5s3.4 6.9 7.7 6.9 7.7-3.1 7.7-6.9S12 2.6 7.7 2.6z" fill="#898989"></path></svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="post__navigation">
      {% if page.previous.previous.url %}
        <a class="prev" href="{{site.baseurl}}{{page.previous.previous.url}}">
          <div class="prev__post-icon">
            <svg enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m352 128.4-32.3-32.4-159.7 160 159.7 160 32.3-32.4-127.3-127.6z"/></svg>
          </div>
          <span class="post__nav-wrapper">
            <div class="post__nav-image" style="background-image: url({{site.baseurl}}{{page.previous.previous.image}})"></div>
            <h2 class="post__nav-title"><time datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date: '%b %d, %Y'}}</time> <br>{{page.previous.previous.title}}</h2>
          </span>
        </a>
      {% endif %}

      {% if page.next.next.url %}
        <a class="next" href="{{site.baseurl}}{{page.next.next.url}}">
          <div class="next__post-icon">
            <svg enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m160 128.4 32.3-32.4 159.7 160-159.7 160-32.3-32.4 127.3-127.6z"/></svg>
          </div>
          <span class="post__nav-wrapper">
            <div class="post__nav-image" style="background-image: url({{site.baseurl}}{{page.next.next.image}})"></div>
            <h2 class="post__nav-title"><time datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date: '%b %d, %Y'}}</time> <br>{{page.next.next.title}}</h2>
          </span>
        </a>
      {% endif %}
    </div>

    {% if site.disqus-identifier %}
      {% include show-disqus.html %}
    {% endif %}

  </article>
</div>
